PORT=3333
HOST=0.0.0.0
NODE_ENV=development
APP_KEY=A-vd0tjg2tdh9SC_I2js36D5NLGKnZ3v	

DRIVE_DISK=local
DB_CONNECTION=sqlite
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=uxze4787_alghazaly	

MYSQL_PASSWORD=	#0512DarAlghazly
MYSQL_DB_NAME=	uxze4787_alghazaly
SMTP_HOST=mail.dar-alghazaly.com	

SMTP_PORT=587
SMTP_USERNAME=<username>
SMTP_PASSWORD=<password>
CACHE_VIEWS=false
FCM_API_KEY=
