<!DOCTYPE html>

<html lang="en" xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:v="urn:schemas-microsoft-com:vml">

<head>
    <title>Précommandes prètes</title>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <!--[if mso]><xml><o:OfficeDocumentSettings><o:PixelsPerInch>96</o:PixelsPerInch><o:AllowPNG/></o:OfficeDocumentSettings></xml><![endif]-->
</head>

<body >
    <div style="margin-bottom : 12px">
        Bonjour , les produits que vous avez précommander sont prètes. 
    </div>
    <div style="margin-bottom : 12px">
        Nous les avons ajouter à votre panier.
    </div>
    <a href="{{ link }}/boutique/panier" target="_blank">Acceder au panier</a>
</body>

</html>