<!DOCTYPE html>

<html lang="en" xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:v="urn:schemas-microsoft-com:vml">

<head>
    <title>Bienvenue</title>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
</head>

<body>
    <h4>
        <span class="tinyMce-placeholder">Bonjour Mr/Mme</span>
    </h4>
        <a  href="{{ code }}" target="_blank">
            Cliquer ici pour valider votre compte .
        </a>
</body>

</html>